@use "@/styles/mixins" as *;

.page {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        @include mq(lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mq(sm) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
